.cell-input {
    width: 100%;
    border: 0px;
}

.table {        
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: .8rem;
}

th{
    font-weight: bold;
}

.table td, .table th {
    padding: 0.3rem;
    vertical-align: middle !important;
}

.align-left {
    text-align: left !important;
}