<table class="table table-bordered">
  
  <tr>
    <th rowspan="2">{{ detalle.FILAS.cabecera }}</th>
    <ng-container *ngFor="let parte of detalle.COLUMNAS" >
      <th [attr.colspan]="parte.cant_columnas">{{ parte.cabecera }}</th>
    </ng-container>
  </tr>    
  <tr>
    <ng-container *ngFor="let parte of detalle.COLUMNAS">      
      <ng-container *ngFor="let column of parte.campos">
        <td><strong>{{ column.titulo }}</strong></td>
      </ng-container>      
    </ng-container>
  </tr>
  <tr *ngFor="let fila of detalle.FILAS.campos">
    <td class="align-left">{{ fila }}</td> 
    <ng-container *ngFor="let parte of detalle.COLUMNAS">      
      <ng-container *ngFor="let column of parte.campos">
        <td><input [attr.type]="column.tipo_dato" step="0.01" class="cell-input" [(ngModel)]="respuesta[fila][parte.cabecera][column.titulo]"></td>
      </ng-container>      
    </ng-container>     
  </tr>
  
</table>