<h1 class="title">Viales</h1>
<div class="col-sm-12">
    <div class="row-flex">
        <div class="col-md-auto">
            <button
                type="button"
                class="btn btn-primary btn-create btn-lg shadow mb-5"
                data-toggle="modal"
                data-target="#vialmodal"
                title="Crear vial"
            >
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>

        <div class="border bg-white box-shadow container">
            <table
                class="table table-striped table-bordered table-sm row-border hover"
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
            >
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vial of vialesArray; let vialIndex = index">
                        <td>{{ vial.codigo }}</td>
                        <td>
                            <div class="col-md-auto action-btn">
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    (click)="
                                        $event.stopPropagation();
                                        verPlantilla(vialIndex)
                                    "
                                    data-placement="top"
                                    title="Ingresar respuestas"
                                >
                                    <i
                                        class="fa fa-edit"
                                        aria-hidden="true"
                                    ></i>
                                </button>
                                <swal
                                    #deleteSwal
                                    [options]="{
                                        confirmButtonText: 'Sí',
                                        cancelButtonText: 'No'
                                    }"
                                    [showCancelButton]="true"
                                    [focusCancel]="true"
                                    title="¿Está seguro que desea eliminar el vial?"
                                    text="El vial {{
                                        vial.codigo
                                    }} se eliminará de manera permanente"
                                    type="warning"
                                    (confirm)="eliminarVial(vial)"
                                >
                                </swal>
                                <button
                                    type="button"
                                    class="btn btn-danger"
                                    (click)="
                                        deleteSwal.show();
                                        $event.stopPropagation()
                                    "
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Eliminar vial"
                                >
                                    <i
                                        class="fa fa-trash"
                                        aria-hidden="true"
                                    ></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal Ingresar respuestas vial -->
        <div
            class="modal fade"
            id="vialmodal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document" name="addVial">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Crear vial
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="codigo">Código</label>
                        <input
                            [(ngModel)]="codigo"
                            type="text"
                            class="form-control"
                            placeholder="Código del vial"
                            aria-label="Código"
                            aria-describedby="basic-addon1"
                            required
                            name="codigo"
                            (keydown.enter)="crearVial()"
                        />
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                        >
                            Cancelar
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="pushVial()"
                            data-dismiss="modal"
                            [disabled]="!codigo"
                        >
                            Crear
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="respuestaModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        {{ plantilla.titulo }}
                    </h5>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div
                        *ngFor="
                            let seccion of plantilla.secciones;
                            let seccionIndex = index
                        "
                    >
                        <hr />
                        <h4>{{ seccion.titulo }}</h4>
                        <div
                            *ngFor="
                                let pregunta of seccion.preguntas;
                                let preguntaIndex = index
                            "
                            class="mt-2"
                        >
                            <div
                                class="d-flex justify-content-between mt-1 mb-1"
                            >
                                <p style="width: 66.6666%;">
                                    {{ pregunta.titulo }}
                                </p>
                                <input
                                    *ngIf="
                                        pregunta.tipo_data.id ==
                                            'valor_exacto' ||
                                        pregunta.tipo_data.id == 'texto'
                                    "
                                    style="width: 33.3333%; height: 35px; margin-top: auto; margin-bottom: auto;"
                                    [(ngModel)]="
                                        vial[seccionIndex][preguntaIndex]
                                            .respuesta
                                    "
                                />
                                <select
                                    mz-select
                                    class="form-control"
                                    *ngIf="
                                        pregunta.tipo_data.id ==
                                        'seleccion_unica'
                                    "
                                    (change)="
                                        handleUnica(
                                            $event.target,
                                            seccionIndex,
                                            preguntaIndex
                                        )
                                    "
                                    style="width: 33.3333%;"
                                >
                                    <option value="" disabled
                                        >Elije una opción</option
                                    >
                                    <option
                                        *ngFor="let opcion of pregunta.detalle"
                                        [value]="opcion.value"
                                        >{{ opcion.name }}</option
                                    >
                                </select>
                                <select
                                    mz-select
                                    class="form-control"
                                    multiple="multiple"
                                    *ngIf="
                                        pregunta.tipo_data.id ==
                                        'seleccion_multiple'
                                    "
                                    style="width: 33.333%"
                                    [(ngModel)]="
                                        vial[seccionIndex][preguntaIndex]
                                    "
                                >
                                    <option
                                        *ngFor="let opcion of pregunta.detalle"
                                        [value]="opcion.value"
                                        >{{ opcion.name }}</option
                                    >
                                </select>
                                <div
                                    *ngIf="pregunta.tipo_data.id == 'rango'"
                                    style="width: 33.3333%; height: 35px; margin-top: auto; margin-bottom: auto;"
                                    class="d-flex justify-content-between"
                                >
                                    <input
                                        placeholder="Valor mínimo"
                                        class="relative"
                                        style="width: 45%;"
                                        [(ngModel)]="
                                            vial[seccionIndex][preguntaIndex]
                                                .respuesta.min
                                        "
                                    />
                                    <input
                                        placeholder="Valor máximo"
                                        class="relative"
                                        style="width: 45%;"
                                        [(ngModel)]="
                                            vial[seccionIndex][preguntaIndex]
                                                .respuesta.max
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                    >
                        Cerrar
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="$event.stopPropagation(); crearVial(vialIndex)"
                    >
                        Guardar cambios
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
