<body>
    <div class="container mt-4">
        <h4 class="mt-4 text-grey mb-4">¡Bienvenido!</h4>
        <div class="mt-2 text-grey-dark text-lg">
            <p class="mt-2">
                Esta es la página de creación de evaluaciones para evaluación de
                calidad del INSPI.
            </p>
            <div class="mt-2 parrafo mb-4">
                En esta página podrá crear <a href="/plantillas">plantillas</a>,
                las cuales serán usadas como referencias para la creación de una
                campaña. Las <a href="/programas">campañas</a> van a ser las
                evaluaciones que se les tomará a los diferentes laboratorios.
                Aquí podrá crear <b>viales</b> que tendrá la respuesta la cual
                en un futuro podrá ser referenciado a la evaluación que
                haríacada laboratorio
            </div>
            <div class="mt-4 parrafo">
                ¡Esperamos que esta plataforma les sea de mucha utilidad!
            </div>
        </div>
    </div>
</body>
