<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Abreviatura</th>
      <th scope="col">Resultado</th>
      <th scope="col">Código</th>
      <th scope="col">Abreviatura</th>
      <th scope="col">Resultado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><input type="number" name="antib1" id="id1" style="border:0px"></th>
      <td><input type="text" name="carga1" class="numberField"></td>
      <td><input type="text" name="marca1" style="border:0px; max-width:90px"></td>
      <td><input type="number" name="diam1" class="numberField"></td>
      <td><input type="text" name="cim1" class="numberField"></td>
      <td><input type="text" name="inte1" style="border:0px"></td>
    </tr>
    <tr>
      <th scope="row"><input type="number" name="antib2" id="id2" style="border:0px"></th>
      <td><input type="text" name="carga2" class="numberField"></td>
      <td><input type="text" name="marca2" style="border:0px; max-width:90px"></td>
      <td><input type="number" name="diam2" class="numberField"></td>
      <td><input type="text" name="cim2" class="numberField"></td>
      <td><input type="text" name="inte2" style="border:0px"></td>
    </tr>
    <tr>
      <th scope="row"><input type="number" name="antib3" id="id3" style="border:0px"></th>
      <td><input type="text" name="carga3" class="numberField"></td>
      <td><input type="text" name="marca3" style="border:0px; max-width:90px"></td>
      <td><input type="number" name="diam3" class="numberField"></td>
      <td><input type="text" name="cim3" class="numberField"></td>
      <td><input type="text" name="inte3" style="border:0px"></td>
    </tr>
  </tbody>
</table>