

<div class="container">
  <h2 class="title">Programa de Evaluación Externa de la Calidad</h2>
  <h3 class="title">CRN</h3>

  <div *ngFor="let plantilla of plantillasArray">
    <h1>{{plantilla.descripcion}}</h1>
  </div>

  
  <div class="row justify-content-left align-items-center"> 
      <div class="col-md-auto">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#campaniaModal">Nuevo</button>
      </div>
      <div class="col-md-auto">
        <button type="button" routerLink="/plantillas/plantillas" class="btn btn-secondary btn-lg" >Ver Plantillas</button>
      </div>
  </div>
</div>
<div class="plantillas-container container">
<div *ngFor="let plantilla of plantillasArray">
        <div class="plantilla-box row align-items-center justify-content-between" data-toggle="modal" [attr.data-target]="'#id'+plantilla.id">
          <div class="row-flex col-md-auto" data-toggle="tooltip" data-placement="top" title="Previsualizar plantilla">
            <h5 class="col-md-12">{{ plantilla.id }}</h5>
            <h6 class="col-md-12">dd</h6>
          </div>
          <div class="col-md-auto">            
            <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Previsualizar plantilla"><i class="fa fa-eye" aria-hidden="true"></i></button>           
            <button type="button" class="btn btn-secondary" (click)="$event.stopPropagation();" data-toggle="tooltip" data-placement="top" title="Editar plantilla"><i class="fa fa-edit" aria-hidden="true"></i></button>           
            <swal #deleteSwal 
              [options]="{ confirmButtonText: 'Sí', cancelButtonText: 'No' }"
              [showCancelButton]="true"
              [focusCancel]="true"
              title="¿Está seguro que desea eliminar la plantilla?"
              text="La plantilla {{plantilla.titulo}} se eliminará de manera permanente"
              type="warning"
              (confirm)="eliminarPlantilla(plantilla)">
            </swal>
            <button type="button" class="btn btn-danger" (click)="deleteSwal.show(); $event.stopPropagation();" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
        </div>
        <!-- Modal Vista Previa Plantilla -->
        <div class="modal fade" id="id{{plantilla.id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
          aria-hidden="true">
          <div class="modal-dialog modal-container" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modelTitleId">Vista previa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <app-plantilla-viewer [plantilla]="plantilla"></app-plantilla-viewer>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</div>

  <!-- Modal -->
  <div class="modal fade" id="campaniaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva Campaña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form>

            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Título:</label>
              <input [(ngModel)]="nombre" type="text" class="form-control" placeholder="Titulo" aria-label="Titulo"
            aria-describedby="basic-addon1">
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="recipient-name" class="col-form-label">Fecha de Inicio:</label>
                  <input [(ngModel)]="fecha_inicio" class="form-control" type="date" value="aaaa-mm-dd" id="example-date-input"> 
                </div>
                <div class="col">
                  <label for="recipient-name" class="col-form-label">Fecha de Fin:</label>
                  <input [(ngModel)]="fecha_fin" class="form-control" type="date" value="aaaa-mm-dd" id="example-date-input"> 
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="recipient-name" class="col-form-label">Fecha de Envio de Paquete:</label>
                  <input [(ngModel)]="fecha_envio_paquete" class="form-control" type="date" value="aaaa-mm-dd" id="example-date-input"> 
                </div>
                <div class="col">
                  <label for="recipient-name" class="col-form-label">Fecha de Envio de Resultados:</label>
                  <input [(ngModel)]="fecha_envio_resultados" class="form-control" type="date" value="aaaa-mm-dd" id="example-date-input"> 
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Seleccione una Plantilla:</label>
              <select [(ngModel)]="plantilla_id" class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </form>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" routerLink="/campania" (click)="guardarCampania()" data-dismiss="modal">Crear</button>
          </div>

      </div>
    </div>
  </div>

<!--
  <div class="plantillas-container container">
      <div *ngFor="let plantilla of plantillasArray">
        <div class="plantilla-box row align-items-center justify-content-between" data-toggle="modal" [attr.data-target]="'#id'+plantilla.id">
          <div ass="row-flex col-md-auto" data-toggle="tooltip" data-placement="top" title="Previsualizar plantilla">
            <h5 class="col-md-12">{{ plantilla.titulo }}</h5>
            <h6 class="col-md-12">{{ plantilla.descripcion }}</h6>
          </div>
          <div class="col-md-auto">            
            <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Previsualizar plantilla"><i class="fa fa-eye" aria-hidden="true"></i></button>           
            <button type="button" class="btn btn-secondary" (click)="$event.stopPropagation();" data-toggle="tooltip" data-placement="top" title="Editar plantilla"><i class="fa fa-edit" aria-hidden="true"></i></button>           
            <button type="button" class="btn btn-danger" (click)="eliminarPlantilla(plantilla); $event.stopPropagation();" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
-->
 

