<div class="container">
    <h2 class="title">Programa de Evaluación Externa de la Calidad</h2>
    <h3 class="title">CRN</h3>

    <div class="col-md-auto">
        <button
            type="button"
            class="btn btn-primary btn-create btn-lg shadow mb-5"
            data-toggle="modal"
            data-target="#addModal"
            title="Crear programa"
        >
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
    <div class="border bg-white box-shadow plantillas-container container">
        <table
            id="tblProgramas"
            class="table table-striped table-bordered table-sm row-border hover"
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
        >
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let campania of campaniasArray">
                    <td>{{ campania.nombre }}</td>
                    <td>
                        Del {{ campania.fecha_inicio | date: shortDate }} al
                        {{ campania.fecha_fin | date: shortDate }}
                    </td>
                    <td>
                        <div class="col-md-auto">
                            <button
                                type="button"
                                [attr.data-target]="'#id' + campania.id"
                                class="btn btn-info"
                                data-toggle="modal"
                                data-placement="top"
                                title="Previsualizar programa"
                            >
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                            <button
                                type="button"
                                [attr.data-target]="'#idE' + campania.id"
                                class="btn btn-secondary"
                                data-toggle="modal"
                                data-placement="top"
                                title="Editar programa"
                            >
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button
                                type="button"
                                [attr.data-target]="'#id' + campania.id"
                                class="btn btn-danger"
                                (click)="
                                    deleteSwal.show(); $event.stopPropagation()
                                "
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Eliminar programa"
                            >
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                            <swal
                                #deleteSwal
                                [options]="{
                                    confirmButtonText: 'Sí',
                                    cancelButtonText: 'No'
                                }"
                                [showCancelButton]="true"
                                [focusCancel]="true"
                                title="¿Está seguro que desea eliminar el programa?"
                                text="El programa {{campania.name}} se eliminará de manera permanente"
                                type="warning"
                                (confirm)="eliminarCampania(campania)"
                            >
                            </swal>
                        </div>
                    </td>

                    <!-- Modal Vista Previa Programa -->
                    <div
                        class="modal fade"
                        id="id{{campania.id}}"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="modelTitleId"
                        aria-hidden="true"
                    >
                        <div
                            class="modal-dialog modal-container"
                            role="document"
                        >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modelTitleId">
                                        Vista previa
                                    </h5>
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h3 style="text-align:center">
                                        {{ campania.nombre }}
                                    </h3>

                                    <form>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <label
                                                        for="recipient-name"
                                                        class="col-form-label"
                                                        >Fecha de Inicio:</label
                                                    >
                                                    <input
                                                        class="form-control"
                                                        type="shortDate"
                                                        name="fecha_inicio"
                                                        value="{{ campania.fecha_inicio | date: 'dd/MM/yyyy'   }}"
                                                        id="example-date-input"
                                                        disabled
                                                    />
                                                </div>
                                                <div class="col">
                                                    <label
                                                        for="recipient-name"
                                                        class="col-form-label"
                                                        >Fecha de Fin:</label
                                                    >
                                                    <input
                                                        class="form-control"
                                                        type="shortDate"
                                                        name="fecha_fin"
                                                        value="{{ campania.fecha_fin | date: 'dd/MM/yyyy' }}"
                                                        id="example-date-input"
                                                        disabled
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <label
                                                        for="recipient-name"
                                                        class="col-form-label"
                                                        >Fecha de Envio de
                                                        Paquete:</label
                                                    >
                                                    <input
                                                        class="form-control"
                                                        type="shortDate"
                                                        name="fecha_envio_paquete"
                                                        value="{{ campania.fecha_envio_paquete | date: 'dd/MM/yyyy'  }}"
                                                        id="example-date-input"
                                                        disabled
                                                    />
                                                </div>
                                                <div class="col">
                                                    <label
                                                        for="recipient-name"
                                                        class="col-form-label"
                                                        >Fecha de Envio de
                                                        Resultados:</label
                                                    >
                                                    <input
                                                        class="form-control"
                                                        type="shortDate"
                                                        name="fecha_envio_resultados"
                                                        value="{{ campania.fecha_envio_resultados | date: 'dd/MM/yyyy'  }}"
                                                        id="example-date-input"
                                                        disabled
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label
                                                for="recipient-name"
                                                class="col-form-label"
                                                >Plantilla Seleccionada:</label
                                            >
                                            <input
                                                value="{{ campania.plantilla_nombre }}"
                                                type="text"
                                                class="form-control"
                                                name="plantilla_nombre"
                                                placeholder="Titulo"
                                                aria-label="Titulo"
                                                aria-describedby="basic-addon1"
                                                disabled
                                            />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-dismiss="modal"
                                    >
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Edicion Programa -->
                    <div
                        class="modal fade"
                        id="idE{{campania.id}}"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="modelTitleId"
                        aria-hidden="true"
                    >
                        <div
                            class="modal-dialog modal-container"
                            role="document"
                        >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modelTitleId">
                                        Editar programa
                                    </h5>
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label
                                                for="titulo"
                                                class="col-form-label"
                                                >Título:</label
                                            >
                                            <input
                                                [(ngModel)]="campania.nombre"
                                                id="titulo"
                                                name="titulo"
                                                value="{campania.nombre}"
                                                type="text"
                                                class="form-control"
                                                aria-describedby="basic-addon1"
                                            />
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <label
                                                        for="fecha_inicio"
                                                        class="col-form-label"
                                                        >Fecha de Inicio:</label
                                                    >
                                                    <input
                                                        class="form-control"
                                                        [(ngModel)]="
                                                            campania.fecha_inicio
                                                        "
                                                        name="fecha_inicio"
                                                        type="date"
                                                        value="{{ campania.fecha_inicio | date: 'yyyy-MM-dd'  }}"
                                                        id="fecha_inicio"
                                                    />
                                                </div>
                                                <div class="col">
                                                    <label
                                                        for="fecha_fin"
                                                        class="col-form-label"
                                                        >Fecha de Fin:</label
                                                    >
                                                    <input
                                                        class="form-control"
                                                        [(ngModel)]="
                                                            campania.fecha_fin
                                                        "
                                                        name="fecha_fin"
                                                        type="date"
                                                        value="{{ campania.fecha_fin | date: 'yyyy-MM-dd' }}"
                                                        id="fecha_fin"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <label
                                                        for="fecha_envio_paquete"
                                                        class="col-form-label"
                                                        >Fecha de Envio de
                                                        Paquete:</label
                                                    >
                                                    <input
                                                        class="form-control"
                                                        [(ngModel)]="
                                                            campania.fecha_envio_paquete
                                                        "
                                                        name="fecha_envio_paquete"
                                                        type="date"
                                                        value="{{ campania.fecha_envio_paquete | date: 'yyyy-MM-dd'  }}"
                                                        id="fecha_envio_paquete"
                                                    />
                                                </div>
                                                <div class="col">
                                                    <label
                                                        for="fecha_envio_resultados"
                                                        class="col-form-label"
                                                        >Fecha de Envio de
                                                        Resultados:</label
                                                    >
                                                    <input
                                                        class="form-control"
                                                        [(ngModel)]="
                                                            campania.fecha_envio_resultados
                                                        "
                                                        name="fecha_envio_resultados"
                                                        type="date"
                                                        value="{{ campania.fecha_envio_resultados | date: 'yyyy-MM-dd' }}"
                                                        id="fecha_envio_resultados"
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label
                                                for="plantilla_nombre"
                                                class="col-form-label"
                                                >Plantilla Seleccionada:</label
                                            >
                                            <input
                                                type="text"
                                                name="plantilla_nombre"
                                                value="{{ campania.plantilla_nombre }}"
                                                class="form-control"
                                                aria-label="Plantilla"
                                                aria-describedby="basic-addon1"
                                                disabled
                                            />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-dismiss="modal"
                                    >
                                        Cerrar
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-primary"
                                        (click)="editarCampania(campania)"
                                        data-dismiss="modal"
                                    >
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>

        <!-- Modal de nuevo programa -->
        <div
            class="modal face"
            id="addModal"
            tabindex="-1"
            role="dialog"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Nuevo Programa
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label
                                    for="recipient-name"
                                    class="col-form-label"
                                    >Título:</label
                                >
                                <input
                                    [(ngModel)]="nombre"
                                    name="nombre"
                                    type="text"
                                    class="form-control"
                                    placeholder="Titulo"
                                    aria-label="Titulo"
                                    aria-describedby="basic-addon1"
                                />
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label
                                            for="recipient-name"
                                            class="col-form-label"
                                            >Fecha de Inicio:</label
                                        >
                                        <input
                                            [(ngModel)]="fecha_inicio"
                                            name="fecha_inicio"
                                            class="form-control"
                                            type="date"
                                            value="aaaa-mm-dd"
                                            id="example-date-input"
                                        />
                                    </div>
                                    <div class="col">
                                        <label
                                            for="recipient-name"
                                            class="col-form-label"
                                            >Fecha de Fin:</label
                                        >
                                        <input
                                            [(ngModel)]="fecha_fin"
                                            name="fecha_fin"
                                            class="form-control"
                                            type="date"
                                            value="aaaa-mm-dd"
                                            id="example-date-input"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label
                                            for="recipient-name"
                                            class="col-form-label"
                                            >Fecha de Envio de Paquete:</label
                                        >
                                        <input
                                            [(ngModel)]="fecha_envio_paquete"
                                            name="fecha_envio_paquete"
                                            class="form-control"
                                            type="date"
                                            value="aaaa-mm-dd"
                                            id="example-date-input"
                                        />
                                    </div>
                                    <div class="col">
                                        <label
                                            for="recipient-name"
                                            class="col-form-label"
                                            >Fecha de Envio de
                                            Resultados:</label
                                        >
                                        <input
                                            [(ngModel)]="fecha_envio_resultados"
                                            name="fecha_envio_resultados"
                                            class="form-control"
                                            type="date"
                                            value="aaaa-mm-dd"
                                            id="example-date-input"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1"
                                    >Seleccione una Plantilla:</label
                                >
                                <select
                                    [(ngModel)]="plantilla_id"
                                    name="plantilla_id"
                                    class="selectpicker form-control"
                                >
                                    <option
                                        value="-1"
                                        disabled
                                        selected
                                        style="display:none;"
                                        >-- Escoja una Plantilla --</option
                                    >
                                    <option
                                        *ngFor="
                                            let plantilla of plantillasArray
                                        "
                                        [attr.value]="plantilla.id"
                                        >{{ plantilla.titulo }}</option
                                    >
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                        >
                            Cerrar
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="guardarCampania()"
                            data-dismiss="modal"
                            name="guardar"
                        >
                            Crear
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
