<form class="form-horizontal">
  <h3 style="text-align:center">{{ plantilla.titulo }}</h3>
  <div class="alert alert-info">{{ plantilla.descripcion }}</div>
  <div *ngFor="let seccion of plantilla.secciones">
    <div class="seccion-container">
        <h5 class="section-title">{{ seccion.titulo }}</h5><hr>
        <div *ngFor="let pregunta of seccion.preguntas_seccion">
          <div class="form-group">
            <label class="col-md-auto control-label">{{ pregunta.titulo }}</label>
            <div class="col-md-auto">
              <ng-container *ngIf="pregunta.tipo.id == 'tabla_ram'; then thenTemplate; else elseTemplate"></ng-container>
              <ng-template #thenTemplate>
                <app-tabla-ram></app-tabla-ram>
              </ng-template>
              <ng-template #elseTemplate>
                <ng-container *ngIf="pregunta.tipo.id == 'tabla_mico'; then thenT; else elseT"></ng-container>
                <ng-template #thenT>
                  <app-tabla-pruebasbioquimicas></app-tabla-pruebasbioquimicas>
                </ng-template>
                <ng-template #elseT>
                  <div *ngIf="pregunta.tipo.id == 'seleccion_multiple'">
                    <div class="form-check" *ngFor="let opcion of pregunta.detalle">
                      <input class="form-check-input" type="checkbox" id="p-{{seccion.id}}-{{pregunta.id}}" value="opcion.value">
                      <label class="form-check-label" for="p-{{seccion.id}}-{{pregunta.id}}">{{ opcion.name }}</label>
                    </div>
                  </div>
                  <div *ngIf="pregunta.tipo.id == 'seleccion_unica'">
                    <div class="form-check" *ngFor="let opcion of pregunta.detalle">
                      <input class="form-check-input" type="radio" name="radios-{{seccion.id}}-{{pregunta.id}}" id="p-{{seccion.id}}-{{opcion.value}}" value="opcion.value">
                      <label class="form-check-label" for="p-{{seccion.id}}-{{pregunta.id}}">{{ opcion.name }}</label>
                    </div>
                  </div>
                  <div *ngIf="pregunta.tipo.id == 'texto'">
                    <input type="texto" id="p-{{seccion.id}}-{{pregunta.id}}" class="form-control">
                  </div>
                  <div *ngIf="pregunta.tipo.id == 'rango' || pregunta.tipo.id == 'valor_exacto'">
                    <input type="number" id="p-{{seccion.id}}-{{pregunta.id}}" class="form-control">
                  </div>
                </ng-template>
                
              </ng-template>
              <span class="help-block"><small>{{ pregunta.descripcion }}</small></span>                          
            </div>
          </div>
        </div>        
    </div><br>    
  </div>  
</form>